<!-- <div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        [ Car Image ]
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                            Price : {{product.price}} BGN
                        </span>
                        <h5>{{product.car?.brand}}</h5>
                        <h6>{{product.car?.model}}</h6>
                        <p>Fuel : {{product.car?.engine?.fuel}}
                        <p>
                        <div class="m-t text-righ">

                        <a (click)="navigateToPDP(product?.id)" class="btn btn-xs btn-outline btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN FILTERS -->
                        <div class="col-md-3">
                            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                            <hr>
                            <form #filterForm="ngForm" (ngSubmit)="onFilter(filterForm)">

                                <!-- BEGIN FILTER BY CATEGORY -->
                                <label class="fiter-label">Brand</label>
                                <select  ngModel (change)="getModels($event)" name="brand" class="custom-select">
                                    <option selected></option>
                                    <option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</option>
                                </select>
                                <label class="fiter-label">Model</label>
                                <select ngModel name="model" class="custom-select">
                                    <option selected></option>
                                    <option *ngFor="let model of models" value="{{model}}">{{model}}</option>
                                </select>
                                <label class="fiter-label">Shape</label>
                                <select ngModel name="shape" class="custom-select">
                                    <option selected></option>
                                    <option *ngFor="let shape of filters?.shape" value="{{shape}}">{{shape}}</option>
                                </select>
                                <label class="fiter-label">Fuel</label>
                                <select ngModel name="fuel" class="custom-select">
                                    <option selected></option>
                                    <option *ngFor="let fuel of filters?.fuel" value="{{fuel}}">{{fuel}}</option>
                                </select>
                                <label class="fiter-label">Transmission</label>
                                <select ngModel name="transmission" class="custom-select">
                                    <option selected></option>
                                    <option *ngFor="let transmission of filters?.transmission" value="{{transmission}}">
                                        {{transmission}}</option>
                                </select>
                                <!-- END FILTER BY CATEGORY -->

                                <div class="padding"></div>

                                <!-- BEGIN FILTER BY Price -->
                                <label class="fiter-label">Price Min:</label>

                                <div class="input-group date form_date">
                                    <input ngModel name="priceMin" type="number" min="0" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="">

                                <label class="fiter-label">Price Max:</label>
                                <div class="input-group date form_date">
                                    <input ngModel name="priceMax" type="number" min="0" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="">
                                <!-- END FILTER BY Price -->

                                <!-- BEGIN FILTER BY DATE -->
                                <label class="fiter-label">Year of Creation Min:</label>

                                <div class="input-group date form_date">
                                    <input ngModel name="yearOfCreationMin" type="number" min="1950" max="2023"
                                        class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>

                                <label class="fiter-label">Year of Creation Max:</label>
                                <div class="input-group date form_date">
                                    <input ngModel name="yearOfCreationMax" type="number" min="1950" max="2023"
                                        class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <!-- END FILTER BY DATE -->

                                <!-- BEGIN FILTER BY Power -->
                                <label class="fiter-label">Horse Powers Min:</label>

                                <div class="input-group date form_date">
                                    <input ngModel name="powerMin" type="number" min="0" max="1500"
                                        class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="">

                                <label class="fiter-label">Horse Powers Max:</label>
                                <div class="input-group date form_date">
                                    <input ngModel name="powerMax" type="number" min="0" max="1500"
                                        class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="">

                                <!-- END FILTER BY Power -->
                                <button type="submit"
                                    class="btn btn-success btn-lg btn-block btn-filter">Filter</button>

                            </form>
                            <div class="padding"></div>
                        </div>
                        <!-- END FILTERS -->
                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2><i class="fa fa-file-o"></i> Result</h2>
                            <hr>
                            <div class="padding"></div>

                            <div class="row">
                                <!-- BEGIN ORDER RESULT -->
                                <div class="col-sm-6">
                                    <div class="btn-group">
                                        <label for="orderBy-select">OrderBy: </label>
                                        <select (change)="onOrderBy()" class="form-select" name="orderBy" id="orderBy-select">
                                            <option selected></option>
                                            <option value="BrandAsc">Brand Asc</option>
                                            <option value="BrandDsc">Brand Dsc</option>
                                            <option value="YearOfCreationAsc">Year of Creation Asc</option>
                                            <option value="YearOfCreationDsc">Year of Creation Dsc</option>
                                            <option value="PriceAsc">Price Asc</option>
                                            <option value="PriceDsc">Price Dsc</option>
                                          </select>
                                    </div>
                                </div>
                                <!-- END ORDER RESULT -->

                                <div class="col-md-6 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default active"><i
                                                class="fa fa-list"></i></button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- BEGIN TABLE RESULT -->
                            <div class="table-responsive">
                                <table class="table table-hover">

                                    <tbody>
                                        <tr  *ngFor="let product of products" class="col-md-3">
                                            <td class="image" ><img *ngIf="product.car && product.car.images && product.car.images.length > 0" 
                                                [src]="'data:image/png;base64,' + product.car.images[0].image" alt=""/>
                                            </td>
                                            <td class="outline">
                                                <strong>{{product.car?.brand}}</strong><br>
                                            </td>
                                            <td class="outline">
                                                <strong>{{product.car?.model}}</strong>
                                            </td>
                                            <td class="outline ">Fuel : {{product.car?.engine?.fuel}}</td>
                                            <td class="outline ">Year Of Creation : {{product.car?.engine?.yearOfCreation}}</td>
                                            <td class="outline">Price : {{product.price}}</td>
                                            <td>
                                                <a (click)="navigateToPDP(product?.id)"
                                                    class="btn btn-xs btn-outline btn-primary">More Info</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- END TABLE RESULT -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH RESULT -->
    </div>
</div>

<script src="angular.min.js"></script>
<script src="app.js"></script>