<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <div class="panel panel-white profile-widget">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="image-container bg2">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar" alt="avatar">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="details">
                            <h4>{{user.username}}<i class="fa fa-sheild"></i></h4>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-white border-top-light-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Cars</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">


                                <div class="container">


                                    <!-- Cart Item-->
                                    <div class="cart-item d-md-flex justify-content-between"
                                        *ngFor="let product of user.products">
                                        <div class="px-3 my-1">
                                            <!-- <a class="cart-item-product" href="#"> -->
                                            <div class="cart-item-product-thumb">
                                                <img class="image-product" *ngIf="product.car && product.car.images && product.car.images.length > 0" 
                                                [src]="'data:image/png;base64,' + product.car.images[0].image" alt=""/></div>
                                            <div class="cart-item-product-info">
                                                <h6 class="cart-item-product-title">{{product.car?.brand}} -
                                                    {{product.car?.model}}</h6>
                                            </div>
                                            <!-- </a> -->
                                        </div>
                                        <div class="px-3 my-3 text-center">
                                            <div class="cart-item-label">Price</div><span
                                                class="text-xl font-weight-medium">{{product.price}}</span>
                                        </div>
                                        <div class="px-3 my-3 text-center">
                                            <div class="cart-item-label">Status</div><span
                                                class="text-xl font-weight-medium">{{product.status}}</span>
                                        </div>
                                        <div class="px-3 my-3 text-center">
                                            <button routerLink="/" (click)="removeProduct(product?.id)" type="button"
                                                class="btn btn-red btn-sm btn-remove">Remove</button>
                                            <button (click)="navigateToPDP(product?.id)" type="button"
                                                class="btn btn-primary btn-sm btn-view">View</button>
                                        </div>

                                    </div>




                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="panel panel-white border-top-green">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Info</h1>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="section-heading">Contact Name</h5>
                                <p class="section-content">{{user.contactName}}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Address</h5>
                                <p class="section-content">{{user.address}}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Telephone</h5>
                                <p class="section-content">{{user.phoneNumber}}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Email</h5>
                                <p class="section-content">{{user.email}}</p>
                            </div>
                            <div class="body-section">
                                <a id="editUserInfoBtn" (click)="onOpenUserModal('editUserData')"
                                    class="btn btn-green btn-sm">Edit</a>
                                <a id="editUserInfoBtn" (click)="onOpenUserModal('changePassword')"
                                    class="btn btn-change-password btn-primary btn-sm">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- EDIT USER INFO MODAL -->

    <div class="modal fade" id="editUserInfoModal" tabindex="-1" role="dialog" aria-labelledby="myProductsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document" id="edituserinfo-container">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="color:aqua">Edit User Info</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editUserInfoForm="ngForm" id="editUserInfoForm" (ngSubmit)="editUserInfo(editUserInfoForm)">
                        <div class="form-group">
                            <label for="editContactName">ContactName</label>
                            <input type="text" ngModel name="contactName" class="form-control" id="editContactName"
                                placeholder="{{user.contactName}}" minlength="1" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" ngModel name="email" class="form-control" id="editEmail"
                                placeholder="{{user.email}}" minlength="1" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="editPhoneNumber">PhoneNumber</label>
                            <input type="number" ngModel name="phoneNumber" class="form-control" id="editPhoneNumber"
                                placeholder="{{user.phoneNumber}}" minlength="10" maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="editAddress">Address</label>
                            <input type="text" ngModel name="address" class="form-control" id="editAddress"
                                placeholder="{{user.address}}" minlength="1" maxlength="50">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-edit-user-info" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="editUserInfoForm.invalid" type="submit" class="btn btn-primary">Save
                                changes</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- CHANGE USER PASSWORD MODAL -->

    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myProductsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document" id="edituserinfo-container">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="color:aqua">Change Password</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #changePasswordForm="ngForm" id="changePasswordForm"
                        (ngSubmit)="changePassword(changePasswordForm)">
                        <div class="form-group">
                            <label for="oldPassword">Old Password</label>
                            <input type="password" ngModel name="oldPassword" class="form-control" id="oldPassword"
                                minlength="8" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" ngModel name="newPassword" class="form-control" id="newPassword"
                                minlength="8" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="newPasswordAgain">Repeat New Password</label>
                            <input type="password" ngModel name="newPasswordAgain" class="form-control"
                                id="newPasswordAgain" minlength="8" maxlength="30" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="close-change-password" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary">Save
                                changes</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>