@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


label {
    display: flex;
    align-items: center;
}

span::after {
    padding-left: 5px;
}

input:invalid+span::after {
    content: '✖ Invalid content!' ;
    color: red;
}

.preview {
  max-width: 200px;
}

input:valid+span::after {
    content: '✓';
    color:greenyellow;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea,
fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}